@import 'tailwindcss';

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.w-md-editor {
  box-shadow: none !important;
  background-color: inherit !important;
}

.w-md-editor-toolbar {
  border-bottom: none !important;
  padding: 0 !important;
  margin-bottom: 1rem;
  background-color: inherit !important;
}

@media (prefers-color-scheme: dark) {
  .wmde-markdown {
    background-color: inherit !important;
  }
}
